<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calebdavis.cscadvisement" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
        android:name=".Services.LoginSystem">


        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activities.DegreeProgressActivity"
            android:label="CSC Degree Plan" >
        </activity>

        <activity android:name=".Activities.FallCoursesNotTakenListViewActivity"
            android:label="Incomplete Fall Courses">
        </activity>

        <activity android:name=".Activities.SpringCoursesNotTakenListViewActivity"
            android:label="Incomplete Spring Courses">
        </activity>

        <activity
            android:name=".Activities.CoursesNotTakenListViewActivity"
            android:label="Courses Not Taken" >
        </activity>

        <activity
            android:name=".Activities.CoursesTakenListViewActivity"
            android:label="Courses Taken" >
        </activity>

        <activity
            android:name=".Activities.WelcomeActivity"
            android:label="Welcome" >
        </activity>

        <activity
            android:name=".Activities.LoginSignupActivity"
            android:label="Welcome" >
        </activity>

        <activity
            android:name=".Activities.RegisterActivity"
            android:label="Advisement Registration" >
        </activity>


    </application>

</manifest>
